.modal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal-box {
    background-color: beige;
    border-radius: 5px;
    padding: 5px 5px;
    width: 50%;
    height: 42%;
    box-shadow: 0 0 45px var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-title-input,
.modal-artist-input,
.modal-url-input,
.modal-img-url {
    width: 100%;
    padding: 5px 5px;
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 5px 5px;
}

.modal-submit-btn {
    width: 20%;
    background-color: transparent;
    padding: 5px 5px;
    cursor: pointer;
    border: 2px solid var(--border);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.modal-submit-btn:hover {
    background-color: #17b647;
    box-shadow: 0 0 12px var(--accent);
}

.modal-close-btn {
    cursor: pointer;
    width: 15%;
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    padding: 3px 3px;
    font-size: 0.9rem;
    font-weight: bold;
    align-self: flex-end;
}

.modal-close-btn:hover {
    box-shadow: 0 0 25px red;
}