* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #aae9c0 ;
    --bg-secondary: #74eb94;
    --accent: #00cd3d;
    --text-primary: #05441c;
    --text-secondary: #061508;
    --border: rgba(21, 129, 34, 0.963);
    --glass: rgba(255, 255, 255, 0.05);
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-primary);
    font-family: var(--font-body);
}
